@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

figure.snip1093 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1093 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1093 img {
  max-width: 100%;
  position: relative;
  top: 0;
}

figure.snip1093 h2 {
  position: absolute;
  left: 15px;
  color: #000;
  bottom: 12px;
  opacity: 0;
  margin: 0;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1093 h2 span {
  font-weight: 800;
}

figure.snip1093 > div {
  width: 100%;
  bottom: -70px;
  position: absolute;
  padding: 12px;
  color: #ffffff;
  background: #ffffff;
  text-align: right;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip1093 > div a i {
  font-size: 24px;
  color: #000000;
  padding: 0px 8px;
  position: relative;
  bottom: -60px;
}

figure.snip1093 a {
  opacity: 0.8;
  -webkit-transition-property: none;
  transition-property: none;
}

figure.snip1093 a:hover {
  opacity: 1;
}

figure.snip1093:hover img,
figure.snip1093.hover img {
  opacity: 0.5;
  top: -30px;
}

figure.snip1093:hover h2,
figure.snip1093.hover h2 {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip1093:hover > div,
figure.snip1093.hover > div {
  bottom: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.snip1093:hover > div a i,
figure.snip1093.hover > div a i {
  bottom: 0;
}

figure.snip1093:hover a:first-child i,
figure.snip1093.hover a:first-child i {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.snip1093:hover a:nth-child(2) i,
figure.snip1093.hover a:nth-child(2) i {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

figure.snip1093:hover a:nth-child(3) i,
figure.snip1093.hover a:nth-child(3) i {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}


html {
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}